.router-link {
    text-decoration: none;
}
.router-link:hover {
    text-decoration: underline;
    text-decoration-color: white;
}
.navigation {
    color: black;
    text-decoration: none;
    padding-inline: .75rem;
    opacity: 80%;
}
.navigation:hover {
    opacity: 100%;
}
.navigation:hover .v-card-title {
    text-decoration: underline;
}
.navigation-title {
    color: white;
    text-decoration: none;
}